:root {
  --key-border-color: white;
  --key-background-color: #ED2939;
}

.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

/* not used any longer */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* also not used */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #d3826c; */
  min-height: 1vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* also not used */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

}
/*  */
.Key {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: calc(8vmin);
  height: calc(8vmin);
  /* What I wanted */
  /* border: 1vmin solid #bdd36c; */
  /* More French-colored */
  border: 1vmin solid var(--key-border-color);
  font-size: calc(10px + 2vmin);
  /* flex: 0 0 auto; */
}

.SpecialKey {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(15vmin);
  height: calc(8vmin);
  background-color: var(--key-background-color);
  font-size: calc(10px + 2vmin);
  border: 1vmin solid var(--key-border-color);
}

.Board {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-width: 10px;
  /* border-color: #1bcc73; */
  border-color: transparent;
}

.Row {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: auto;
  float: left;
  gap: 1.5vmin;
}

.Debug {
  background-color: #738b7f;
}
